* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  width: 100%;
  height: 100%;
  /* background-color: #f6f6f6; */
}

main {
  max-width: 1000px;
  margin: 0 auto;
}

.red {
  color: #f26a6b;
}

/* about */
.about {
  padding: 20px;
  margin-top: 30px;
}

.about__header {
  margin-bottom: 5vh;
}

.about__text {
  line-height: 2;
  margin-bottom: 10vh;
}

.placeholder {
  height: 350px;
  width: 70%;
  margin: 10vh auto;
  background: black;
}

/* projects */

.projects__container {
  margin: 10vh 0;
}

.project {
  margin-bottom: 12vh;
  display: block;
}

.project__image {
  max-width: 1000px;
}

.project__details {
  display: flex;
}

.project__info {
  width: 45%;
  letter-spacing: 1.2px;
}

.project__name {
  font-size: 1.5em;
  margin: 2vh 0;
}

.project__tech {
  font-size: 0.85em;
  margin: 2vh 0;
}

.project__links li {
  list-style: none;
  margin-bottom: 1vh;
}

.project__description {
  width: 80%;
  letter-spacing: 1.2px;
  margin: 2vh 0;
  line-height: 2;
}

.work {
  padding-bottom: 10vh;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex__row {
  width: 100%;
}

.row__container {
  max-width: 85%;
  margin: 0 auto;
}

.info {
  margin-top: 20px;
}

.info__head,
.info__links {
  margin-bottom: 20px;
}

.info__text {
  line-height: 2;
}

.img__conatiner {
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  height: 265px;
}

.image-1 {
  background: url("assets/landing_fullscreen.png");
}

.image-2 {
  background: url("assets/ezeventscompressed.jpg");
}

/* contact */
.contact {
  padding-top: 3vh;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
  padding-bottom: 3vh;
}

.location {
  display: flex;
  align-items: center;
}

.location p {
  margin-left: 5px;
  font-size: 0.9em;
}

.contact-link:hover {
  cursor: pointer;
}

.connect__list {
  display: flex;
  justify-content: center;
}

.list__item {
  list-style: none;
  margin: 10px;
}

.list__item:hover {
  cursor: pointer;
}

.blip {
  width: 12px;
  height: 12px;
  border: 5px solid #f26a6b;
  border-radius: 30px;
  background-color: #f26a6b;
  transition: all 0.5s ease-out;
  border: 1px solid white;
  animation-name: grow;
  animation-duration: 900ms;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-play-state: running;
}
@keyframes grow {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.3);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@media only screen and (min-width: 768px) {
  /* about */
  .about {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 2px;
  }

  .about__info,
  .about__text {
    width: 90%;
  }

  .about__info {
    font-size: 1.5em;
  }

  .about__header {
    margin-bottom: 2.75vh;
  }

  .header--lrg {
    font-size: 3.25em;
    line-height: normal;
    padding-top: 10px;
  }

  .header--md {
    font-size: 2.25em;
  }

  .placeholder {
    width: 250px;
    height: 350px;
    border-radius: 5px;
  }

  /* projects */
  .projects {
    max-width: 1000px;
    margin: 10vh auto;
    flex-direction: row;
    justify-content: space-between;
  }

  .flex__row {
    display: flex;
  }

  .row__container {
    max-width: 92%;
    height: 50vh;
  }

  .image-1 {
    /* background: url("assets/landing-small.png"); */
  }

  .image-2 {
    /* background: url("assets/ez-events-thumb.jpg"); */
  }

  .image {
    background-size: 100% 100%;
  }

  .info {
  }

  .grid {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }

  .grid__item {
  }

  .img {
    position: relative;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
  }

  img {
    max-width: 100%;
    height: auto;
    position: relative;
  }
}

@media only screen and (min-width: 1024px) {
  .about {
    height: 100vh;
  }
}
