.item {
  @apply p-2;
  transition: transform 0.25s;
}

.item:hover {
  color: #121111;
  background-color: #f7f5ed;
  border-radius: 10px;
  cursor: pointer;
  transform: rotate(-15deg);
}

.item:active {
  transform: rotate(15deg);
  background-color: #f7f5ed;
}
